@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

body,
input,
select,
textarea {
  color: #585858;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.75;
}

/* Font */

h1 {
  font-size: 2.75em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 1em 0;
  letter-spacing: -0.035em;
}

h1 a {
  color: inherit;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 2em 0;
  text-transform: uppercase;
  letter-spacing: 0.35em;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.8em;
}

h5 {
  font-size: 0.8em;
  margin: 0 0 0.5rem 0;
}

h6 {
  font-size: 0.8em;
  margin: 0 0 0.5rem 0;
}

a {
  transition: border-bottom-color 0.2s ease, color 0.2s ease;
  text-decoration: none;
  color: #585858;
  border-bottom: dotted 1px rgba(88, 88, 88, 0.5);
}

a:hover {
  color: #f2849e !important;
}

/* List */

ol,
ul {
  list-style: none;
}

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

.inner {
  width: 100%;
  max-width: 68em;
  margin: 0 auto;
  padding: 0 2.5em;
}

header {
  padding: 3em 0 0.1em 0;
}

header .brand {
  display: inline-block;
}

header .brand .logo * {
  display: inline-block;
  vertical-align: middle;
}

header .brand .logo .symbol img {
  display: block;
  width: 2em;
  height: 2em;
}

header .logo {
  border-bottom: 0;
  color: inherit;
  font-weight: 900;
  letter-spacing: 0.35em;
  margin: 0 0 2.5em 0;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

/* Nav */

/* header nav {
  position: fixed;
  right: 2em;
  top: 2em;
  z-index: 10000;
} */

header nav {
  float: right;
  display: flex;
}

header nav a {
  border: none;
}

header nav h3 {
  border-left: solid 1px #585858;
  padding: 0 0.75em;
}

.dropLvl {
  cursor: pointer;
}

.dropdown-levels {
  position: relative;
  display: inline-block;
}

.dropdown-levels h3 {
  margin: 0 0 0.5em 0;
}

.dropdown-levels .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 115px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-levels:hover .dropdown-content {
  display: block;
}

/* Main */

#main {
  padding: 0em 0 6em 0;
}

/* Map */

#map {
  height: 500px;
  width: 40%;
  align-content: center;
}

.googleMaps {
  align-self: right;
}

.infoimg {
  float: right;
}

/* Image */
.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 4px;
  display: block;
}

.image.fit img {
  width: 100%;
}

/* Row */

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}

.row > * {
  box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
  margin-bottom: 0;
}

.row.aln-left {
  justify-content: flex-start;
}

.row.aln-center {
  justify-content: center;
}

.row.aln-right {
  justify-content: flex-end;
}

.row.aln-top {
  align-items: flex-start;
}

.row.aln-middle {
  align-items: center;
}

.row.aln-bottom {
  align-items: flex-end;
}

.row > .imp {
  order: -1;
}

.row > .col-1 {
  width: 8.33333%;
}

.row > .off-1 {
  margin-left: 8.33333%;
}

.row > .col-2 {
  width: 16.66667%;
}

.row > .off-2 {
  margin-left: 16.66667%;
}

.row > .col-3 {
  width: 25%;
}

.row > .off-3 {
  margin-left: 25%;
}

.row > .col-4 {
  width: 33.33333%;
}

.row > .off-4 {
  margin-left: 33.33333%;
}

.row > .col-5 {
  width: 41.66667%;
}

.row > .off-5 {
  margin-left: 41.66667%;
}

.row > .col-6 {
  width: 50%;
}

.row > .off-6 {
  margin-left: 50%;
}

.row > .col-7 {
  width: 58.33333%;
}

.row > .off-7 {
  margin-left: 58.33333%;
}

.row > .col-8 {
  width: 66.66667%;
}

.row > .off-8 {
  margin-left: 66.66667%;
}

.row > .col-9 {
  width: 75%;
}

.row > .off-9 {
  margin-left: 75%;
}

.row > .col-10 {
  width: 83.33333%;
}

.row > .off-10 {
  margin-left: 83.33333%;
}

.row > .col-11 {
  width: 91.66667%;
}

.row > .off-11 {
  margin-left: 91.66667%;
}

.row > .col-12 {
  width: 100%;
}

.row > .off-12 {
  margin-left: 100%;
}

.row.gtr-0 {
  margin-top: 0;
  margin-left: 0em;
}

.row.gtr-0 > * {
  padding: 0 0 0 0em;
}

.row.gtr-0.gtr-uniform {
  margin-top: 0em;
}

.row.gtr-0.gtr-uniform > * {
  padding-top: 0em;
}

.row.gtr-25 {
  margin-top: 0;
  margin-left: -0.5em;
}

.row.gtr-25 > * {
  padding: 0 0 0 0.5em;
}

.row.gtr-25.gtr-uniform {
  margin-top: -0.5em;
}

.row.gtr-25.gtr-uniform > * {
  padding-top: 0.5em;
}

.row.gtr-50 {
  margin-top: 0;
  margin-left: -1em;
}

.row.gtr-50 > * {
  padding: 0 0 0 1em;
}

.row.gtr-50.gtr-uniform {
  margin-top: -1em;
}

.row.gtr-50.gtr-uniform > * {
  padding-top: 1em;
}

.row {
  margin-top: 0;
  margin-left: -2em;
}

.row > * {
  padding: 0 0 0 2em;
}

.row.gtr-uniform {
  margin-top: -2em;
}

.row.gtr-uniform > * {
  padding-top: 2em;
}

.row.gtr-150 {
  margin-top: 0;
  margin-left: -3em;
}

.row.gtr-150 > * {
  padding: 0 0 0 3em;
}

.row.gtr-150.gtr-uniform {
  margin-top: -3em;
}

.row.gtr-150.gtr-uniform > * {
  padding-top: 3em;
}

.row.gtr-200 {
  margin-top: 0;
  margin-left: -4em;
}

.row.gtr-200 > * {
  padding: 0 0 0 4em;
}

.row.gtr-200.gtr-uniform {
  margin-top: -4em;
}

.row.gtr-200.gtr-uniform > * {
  padding-top: 4em;
}

/* Tiles */

.tiles {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: -2.5em 0 0 -2.5em;
}

* + .tiles {
  margin-top: 2em;
}

.tiles article {
  transition: tranform 0.5s ease, opacity 0.5s ease;
  position: relative;
  width: calc(33.33333% - 2.5em);
  margin: 2.5em 0 0 2.5em;
}

.tiles article .image {
  transition: transform 0.5s ease;
  position: relative;
  display: block;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.tiles article:hover > .image {
  transform: scale(1.1);
}

.tiles article > .image img {
  display: block;
  width: 100%;
}

.tiles article > .image::before {
  pointer-events: none;
  transition: background-color 0.5s ease, opacity 0.5s ease;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  opacity: 0.8;
}

.tiles article:hover > .image::before {
  background-color: #333333;
  opacity: 0.35;
}

.tiles article > .image::after {
  pointer-events: none;
  transition: opacity 0.5s ease;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100;
  height: 100;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.25;
  z-index: 2;
}

.tiles article:hover > .image::after {
  opacity: 0;
}

.tiles article > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease, tranform 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  border-radius: 4px;
  border-bottom: 0;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

.tiles article > a:hover {
  color: #ffffff !important;
}

.tiles article.choice > .image::before {
  background-color: #333333;
}

.tiles article.about-us {
  width: 100%;
}

.tiles article.about-us:hover > .image {
  transform: none;
}

.tiles article.about-us:hover > .image::before {
  background-color: #333333;
  opacity: 0.8;
}

/* Form */

form {
  margin: 0 0 2em 0;
  overflow: hidden;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px #c9c9c9;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
}

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23c9c9c9' /%3E%3C/svg%3E");
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  height: 3em;
  padding-right: 3em;
  text-overflow: ellipsis;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 3em;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-bottom-color: #f2849e;
  box-shadow: inset 0 -1px 0 0 #f2849e;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  color: #585858;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  padding-left: 2.55em;
  padding-right: 0.75em;
  position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  border-radius: 4px;
  border: solid 1px #c9c9c9;
  content: "";
  display: inline-block;
  font-size: 0.8em;
  height: 2.25em;
  left: 0;
  line-height: 2.25em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.25em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background: #585858;
  border-color: #585858;
  color: #ffffff;
  content: "\f00c";
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #f2849e;
  box-shadow: 0 0 0 1px #f2849e;
}

input[type="checkbox"] + label:before {
  border-radius: 4px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

form > .fields {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 3em);
  margin: -1.5em 0 2em -1.5em;
}

form > .fields > .field {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1.5em 0 0 1.5em;
  width: calc(100% - 1.5em);
}

form > .fields > .field.half {
  width: calc(50% - 0.75em);
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -webkit-appearance: none;
  appearance: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 2px #585858;
  color: #585858 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 900;
  height: 3.5em;
  letter-spacing: 0.35em;
  line-height: 3.45em;
  overflow: hidden;
  padding: 0 1.25em 0 1.6em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  color: #f2849e !important;
  box-shadow: inset 0 0 0 2px #f2849e;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
  box-shadow: none;
  background-color: #585858;
  color: #ffffff !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
  background-color: #f2849e;
}

/* Footer */

footer {
  padding: 5em 0 6em 0;
  background-color: #f6f6f6;
}

footer .inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

footer > .inner section:nth-child(1) {
  width: calc(66% - 2.5em);
  margin-right: 2.5em;
}

footer > .inner section:nth-child(2) {
  width: calc(33% - 2.5em);
  margin-right: 2.5em;
}

footer .inner .copyright {
  width: 100%;
  padding: 0;
  margin-top: 5em;
  list-style: none;
  font-size: 0.8em;
  color: rgba(88, 88, 88, 0.5);
}

footer .inner .copyright li {
  display: inline-block;
  border-left: solid 1px rgba(88, 88, 88, 0.15);
  line-height: 1;
  padding: 0 0 0 1em;
  margin: 0 0 0 1em;
}

footer .inner .copyright li:first-child {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}

footer .inner .copyright a {
  color: inherit;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin: -1em 0 2em -1em;
}

ul.icons li {
  display: inline-block;
  padding: 1em 0 0 1em;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon::before {
  line-height: inherit;
}

.icon.brands::before {
  font-family: "Font Awesome 5 Brands";
}

.icon.follow::before {
  font-size: 1.1em;
}

.icon.follow {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  background-color: transparent;
  border: solid 1px #c9c9c9;
  border-radius: 4px;
  width: 2.65em;
  height: 2.65em;
  display: inline-block;
  text-align: center;
  line-height: 2.65em;
  color: inherit;
}

.icon.follow:hover {
  color: #f2849e;
  border-color: #f2849e;
}

.icon > .label {
  display: none;
}

footer > .inner > * > :last-child {
  margin-bottom: 0;
}

img.mouse {
  background: #222222;
  border: 1px solid #444444;
  margin: 5px 10px 5px 0;
  padding: 5px;
  opacity: 1;
}
